/* Hack for mobile */
@media(max-width:768px) {
    /* Main */
	.right {
		overflow: hidden
	}

	.left,.right {
		display: block;
		width: 100%;
		padding: 1em
	}

	#bar {
		border-radius: 10px 5px 0 0
	}

	#bar .menu {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 0
	}

	#bar .menu li {
		width: 50%;
		margin-top: .5em;
		display: inline-block
	}

	#bar .avatar {
		margin-top: -4em
	}

	#bar .avatar img {
		width: 75pt
	}

	main {
		width: 100%;
		max-width: 22em
	}

	main .content {
		display: block;
		margin: 5em 0 1em;
		width: 100%;
		height: 30em;
		overflow: visible
	}


	footer{
	    left: 0;
	    right: 0;
	    bottom: 0;
	    color: #fff;
	    padding: 1em 0;
	    position: fixed;
	    text-align: center;
	    background: linear-gradient(to top, rgba(0, 0, 0, .6) 30%, transparent);
	}


	.copyright {
		display: none
	}

	.copyright-mobile {
		display: block
	}
	

	
    /* Sections */
	#index h1 {
		margin-top: 3em;
		font-size: 1.5em
	}
	
	#index p {
		margin-top: 1em;
		font-size: 1em
	}
	#index .my{ 
	    width:90%;
	}
	
	#index .my h2{
		font-size: 1.7em;
		text-align: right;
	}
	
	#home h1 {
		margin-top: .3em;
		font-size: 2em
	}

	#contact h1 {
		margin-top: .2em;
		font-size: 1.5em
	}
    #contact .items{margin-top:1em}
    #contact .items a{padding:.3em 0}
    #contact .items a i{font-size:2em;margin-top:.2em}
    #contact .items a span{margin-top:1em}

	#about h1 {
		margin-top: .2em;
		font-size: 1.5em
	}

    #about .timeline {
	margin-top: 1em;
	height: 200px;
    }

/*新加入隐藏滚动条效果*/
#about .timeline {
	-webkit-overflow-scrolling: touch;
	z-index:1;
}
#about .timeline ::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
#about .timeline ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
#about .timeline ::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

	#donate h1 {
		margin-top: .2em;
		font-size: 1.5em
	}

	#donate .donate-img-box {
		margin: 1.3em auto 1em;
		max-width: 17em;
		max-height: 13.5em
	}

	#donate .donate-img-box img {
		margin: .1em
	}
	
	#live2dcanvas{
		display: none;
	}
}