			
			.time{
				width: 50%;
				margin: 30px auto;
			}
			
			.time-axis{
				margin: 0;
				padding: 0;
				position: relative;
			}
			
			.time-axis:before{
				content: '';
				position: absolute;
				left: 93px;
				top: 15px;
				width: 1px;
				height: 100%;
				background-color: #E4E4E4;
			}
			.time-axis-item{
				list-style: none;
				padding-left: 150px;
				position: relative;
				line-height: 45px;
				font-size: 14px;
				color: #141414;
			}
			.time-axis-achievement{
				margin: 0;
			}
			.time-axis-date{
				position: absolute;
				left: 0;
				top: 0;
				color: #666;
			}
			
			.time-axis-date span{
				position: absolute;
				right: -49px;
				top: 35%;
				display: block;
				width: 13px;
				height: 13px;
				border: 1px solid #ccc;
				border-radius: 100%;
				background-color: #fff;
			}
			.time-axis-date span:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				width: 7px;
				height: 7px;
				margin: auto;
				background-color: #ccc;
				border: 1px solid #ccc;
				border-radius: 100%;
			}
			
			.time-axis-item:last-child .time-axis-date span{
				border-color: #48BEB2;
			}
			
			.time-axis-item:last-child .time-axis-date span:after{
				background-color: #48BEB2;
				border-color: #48BEB2;
			}
	
	/*shaky start*/
	.shaky {
        display: inline-block;
        padding: 1px;
        font-size: 12px;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-name: shaky-slow;   // webkit内核
        -ms-animation-name: shaky-slow;   // ie内核
        animation-name: shaky-slow;   // 原生
        -webkit-animation-duration: 4s;
        -ms-animation-duration: 4s;
        animation-duration: 4s;   // 动画执行时间
        -webkit-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        animation-iteration-count: infinite;    // 动画执行次数，infinite为一直执行
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;   // 动画执行速度
        -webkit-animation-delay: 0s;
        -ms-animation-delay: 0s;
        animation-delay: 0s;   // 动画等待时间
        -webkit-animation-play-state: running;
        -ms-animation-play-state: running;
        animation-play-state: running;   // 动画执行状态，一般没必要parse
    }
    @-webkit-keyframes shaky-slow {
        0% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
        }
        2% {
            -webkit-transform: translate(-1px, 1.5px) rotate(1.5deg);
        }
        4% {
            -webkit-transform: translate(1.3px, 0px) rotate(-0.5deg);
        }
        6% {
            -webkit-transform: translate(1.4px, 1.4px) rotate(-2deg);
        }
        8% {
            -webkit-transform: translate(-1.3px, -1px) rotate(-1.5deg);
        }
        10% {
            -webkit-transform: translate(1.4px, 0px) rotate(-2deg);
        }
        12% {
            -webkit-transform: translate(-1.3px, -1px) rotate(-2deg);
        }
        14% {
            -webkit-transform: translate(1.5px, 1.3px) rotate(1.5deg);
        }
        16% {
            -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg);
        }
        18% {
            -webkit-transform: translate(1.3px, -1.3px) rotate(-2deg);
        }
        20% {
            -webkit-transform: translate(1px, 1px) rotate(-0.5deg);
        }
        22% {
            -webkit-transform: translate(1.3px, 1.5px) rotate(-2deg);
        }
        24% {
            -webkit-transform: translate(-1.4px, -1px) rotate(2deg);
        }
        26% {
            -webkit-transform: translate(1.3px, -1.3px) rotate(0.5deg);
        }
        28% {
            -webkit-transform: translate(1.6px, -1.6px) rotate(-2deg);
        }
        30% {
            -webkit-transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
        }
        32% {
            -webkit-transform: translate(-1px, 0px) rotate(2deg);
        }
        34% {
            -webkit-transform: translate(1.3px, 1.3px) rotate(-0.5deg);
        }
        36% {
            -webkit-transform: translate(1.3px, 1.6px) rotate(1.5deg);
        }
        38% {
            -webkit-transform: translate(1.3px, -1.6px) rotate(1.5deg);
        }
        40% {
            -webkit-transform: translate(-1.4px, -1px) rotate(-0.5deg);
        }
        42% {
            -webkit-transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
        }
        44% {
            -webkit-transform: translate(-1.6px, 1.4px) rotate(0.5deg);
        }
        46% {
            -webkit-transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
        }
        48% {
            -webkit-transform: translate(1px, 1.6px) rotate(1.5deg);
        }
        50% {
            -webkit-transform: translate(1.6px, 1.6px) rotate(1.5deg);
        }
        52% {
            -webkit-transform: translate(-1.4px, 1.6px) rotate(0.5deg);
        }
        54% {
            -webkit-transform: translate(1.6px, -1px) rotate(-2deg);
        }
        56% {
            -webkit-transform: translate(1.3px, -1.6px) rotate(-2deg);
        }
        58% {
            -webkit-transform: translate(-1.3px, -1.6px) rotate(0.5deg);
        }
        60% {
            -webkit-transform: translate(1.3px, 1.6px) rotate(-0.5deg);
        }
        62% {
            -webkit-transform: translate(0px, 0px) rotate(-1.5deg);
        }
        64% {
            -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }
        66% {
            -webkit-transform: translate(1.6px, -1.6px) rotate(0.5deg);
        }
        68% {
            -webkit-transform: translate(0px, -1.6px) rotate(-2deg);
        }
        70% {
            -webkit-transform: translate(-1.6px, 1px) rotate(1.5deg);
        }
        72% {
            -webkit-transform: translate(-1.6px, 1.6px) rotate(2deg);
        }
        74% {
            -webkit-transform: translate(1.3px, -1.6px) rotate(-0.5deg);
        }
        76% {
            -webkit-transform: translate(1.4px, 1px) rotate(-0.5deg);
        }
        78% {
            -webkit-transform: translate(-1px, 1.4px) rotate(2deg);
        }
        80% {
            -webkit-transform: translate(1.4px, 1.6px) rotate(2deg);
        }
        82% {
            -webkit-transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
        }
        84% {
            -webkit-transform: translate(-1.4px, 1.4px) rotate(-2deg);
        }
        86% {
            -webkit-transform: translate(1px, 1.4px) rotate(-2deg);
        }
        88% {
            -webkit-transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
        }
        90% {
            -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }
        92% {
            -webkit-transform: translate(-1.6px, 1.6px) rotate(2deg);
        }
        94% {
            -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }
        96% {
            -webkit-transform: translate(-1.4px, 1.3px) rotate(-2deg);
        }
        98% {
            -webkit-transform: translate(1.3px, 1px) rotate(-0.5deg);
        }
    }
    @keyframes shaky-slow {
        0% {
            transform: translate(0px, 0px) rotate(0deg);
        }
        2% {
            transform: translate(-1px, 1.5px) rotate(1.5deg);
        }
        4% {
            transform: translate(1.3px, 0px) rotate(-0.5deg);
        }
        6% {
            transform: translate(1.4px, 1.4px) rotate(-2deg);
        }
        8% {
            transform: translate(-1.3px, -1px) rotate(-1.5deg);
        }
        10% {
            transform: translate(1.4px, 0px) rotate(-2deg);
        }
        12% {
            transform: translate(-1.3px, -1px) rotate(-2deg);
        }
        14% {
            transform: translate(1.5px, 1.3px) rotate(1.5deg);
        }
        16% {
            transform: translate(1.5px, -1.5px) rotate(-1.5deg);
        }
        18% {
            transform: translate(1.3px, -1.3px) rotate(-2deg);
        }
        20% {
            transform: translate(1px, 1px) rotate(-0.5deg);
        }
        22% {
            transform: translate(1.3px, 1.5px) rotate(-2deg);
        }
        24% {
            transform: translate(-1.4px, -1px) rotate(2deg);
        }
        26% {
            transform: translate(1.3px, -1.3px) rotate(0.5deg);
        }
        28% {
            transform: translate(1.6px, -1.6px) rotate(-1.5deg);
        }
        30% {
            transform: translate(-1.3px, -1.3px) rotate(-1.5deg);
        }
        32% {
            transform: translate(-1px, 0px) rotate(2deg);
        }
        34% {
            transform: translate(1.3px, 1.3px) rotate(-0.5deg);
        }
        36% {
            transform: translate(1.3px, 1.6px) rotate(1.5deg);
        }
        38% {
            transform: translate(1.3px, -1.6px) rotate(1.5deg);
        }
        40% {
            transform: translate(-1.4px, -1px) rotate(-0.5deg);
        }
        42% {
            transform: translate(-1.4px, 1.3px) rotate(-0.5deg);
        }
        44% {
            transform: translate(-1.6px, 1.4px) rotate(0.5deg);
        }
        46% {
            transform: translate(-2.1px, -1.3px) rotate(-0.5deg);
        }
        48% {
            transform: translate(1px, 1.6px) rotate(1.5deg);
        }
        50% {
            transform: translate(1.6px, 1.6px) rotate(1.5deg);
        }
        52% {
            transform: translate(-1.4px, 1.6px) rotate(0.5deg);
        }
        54% {
            transform: translate(1.6px, -1px) rotate(-2deg);
        }
        56% {
            transform: translate(1.3px, -1.6px) rotate(-2deg);
        }
        58% {
            transform: translate(-1.3px, -1.6px) rotate(0.5deg);
        }
        60% {
            transform: translate(1.3px, 1.6px) rotate(-0.5deg);
        }
        62% {
            transform: translate(0px, 0px) rotate(-1.5deg);
        }
        64% {
            transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }
        66% {
            transform: translate(1.6px, -1.6px) rotate(0.5deg);
        }
        68% {
            transform: translate(0px, -1.6px) rotate(-2deg);
        }
        70% {
            transform: translate(-1.6px, 1px) rotate(1.5deg);
        }
        72% {
            transform: translate(-1.6px, 1.6px) rotate(2deg);
        }
        74% {
            transform: translate(1.3px, -1.6px) rotate(-0.5deg);
        }
        76% {
            transform: translate(1.4px, 1px) rotate(-0.5deg);
        }
        78% {
            transform: translate(-1px, 1.4px) rotate(2deg);
        }
        80% {
            transform: translate(1.4px, 1.6px) rotate(2deg);
        }
        82% {
            transform: translate(-1.6px, -1.6px) rotate(-0.5deg);
        }
        84% {
            transform: translate(-1.4px, 1.4px) rotate(-2deg);
        }
        86% {
            transform: translate(1px, 1.4px) rotate(-2deg);
        }
        88% {
            transform: translate(-1.4px, 1.4px) rotate(-1.5deg);
        }
        90% {
            transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }
        92% {
            transform: translate(-1.4px, 1.6px) rotate(2deg);
        }
        94% {
            transform: translate(-1.6px, -1.6px) rotate(-2deg);
        }
        96% {
            transform: translate(-1.4px, 1.3px) rotate(-2deg);
        }
        98% {
            transform: translate(1.3px, 1px) rotate(-0.5deg);
        }
    }
/*shaky end*/

@keyframes stretchdelay {
	0%,40%,to {
		-webkit-transform: scaleY(.4)
	}

	20% {
		-webkit-transform: scaleY(1)
	}
}

@keyframes stretchdelay {
	0%,40%,to {
		-webkit-transform: scaleY(.4);
		transform: scaleY(.4)
	}

	20% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}
}

@keyframes fadenum {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

html,body,p,ul,li,h1 {
	margin: 0;
	padding: 0;
	font-weight: initial
}

ul {
	list-style: none
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit
}

*:before,*:after {
	box-sizing: inherit
}

img {
	height: auto;
	max-width: 100%
}

a {
	text-decoration: none
}
/* loading */
.loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	filter: alpha(opacity=70);
	-moz-opacity: .7;
	-khtml-opacity: .7
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -30px;
	width: 50px;
	height: 60px;
	text-align: center;
	font-size: 10px
}

.spinner>div {
	display: inline-block;
	width: 6px;
	height: 100%;
	background-color: #eee;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s
}

.spinner .rect3 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s
}

.spinner .rect4 {
	-webkit-animation-delay: -.9s;
	animation-delay: -.9s
}

.spinner .rect5 {
	-webkit-animation-delay: -.8s;
	animation-delay: -.8s
}
/* Main */
body {
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	-webkit-font-smoothing: antialiased;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	padding: 0 1em;
	cursor: url(cursor.cur), auto
}

.bak,body {
	height: 100%;
	/*背景居中*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.bak {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -2;
	/*背景缩放动效*/
	opacity: 0;
    animation: fadeInBig 1.5s 2s linear forwards;
    -webkit-animation: fadeInBig 1.5s 2s linear forwards;
}

/*背景模糊缩放动效*/
@keyframes fadeInBig{
    from{opacity: 0;transform: scale(2.5); filter: blur(5px);}
        to{opacity: 1;transform: scale(1);}
}


*{
/*禁止移动端长按菜单*/
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
/*禁止移动端a标签链接点击后蓝色阴影*/
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

/*解决ios浏览器input框无法输入问题*/
input {
     -webkit-user-select:auto; /*webkit浏览器*/
}

/*主要*/
main {
	position: relative
}

main .content {
	display: flex;
	margin: 2em 1em;
	background: hsla(0,0%,100%,.8);
	text-align: center;
	border-radius: 5px;
	animation: content .5s 2.2s both;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	overflow: hidden;
	width: 50em;
	height: 30em
}

h1,h2,p{
	cursor: default
}

a{
  cursor: pointer
}


/* Left Box */
.left {
	width: 22%;
}

.left section {
	display: none
}

.left section.active {
	display: block
}

section {
	-webkit-animation: fadenum .5s;
	animation: fadenum .5s
}

/* Right Box */
.right {
	flex: 1;
	padding: 1em
}

.right section {
	display: none
}

.right section.active {
	display: block
}

section {
	-webkit-animation: fadenum .5s;
	animation: fadenum .5s
}

footer {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #fff
}

/* Sections */
/* Header首页 */
#index {

}

#index h1 {
	margin-top: 3em;
	font-size: 2em;
}

#index p {
	margin-top: 1em;
	font-size: 1.2em;
}

#index .active {
	}

#index .menu {
	margin-top: 1em;
    color: #66ccff;
    /*这里去掉display: flex;*/
    flex-direction: column;
    align-items: center;
    text-align: center;
	/*--*/
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #66ccff;
    border-radius: 4px;
}

#index .menu a {
    display: block;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1.25rem 0 1.45rem;
}

#index .menu a:hover {
    background-color: rgba(102, 204, 255, 0.075);
}

#index .menu a:active {
    background-color: rgba(102, 204, 255, 0.175);
}

/* 下面是右边展示栏 */
#home h1 {
	font-size: 2em;
}

#contact h1 {
	margin-top: 1em;
	font-size: 2em;
}

#contact p {
	margin-top: 1em;
}

#contact .items a {
	color: rgba(81,81,81,.9);
	width: 30%;
	padding: .5em 0;
	border-radius: 1em;
	display: inline-block;
	transition: transform .3s
}

#contact .items a i {
	font-size: 3em
}

#contact .items a i,#contact .items a span {
	display: block;
	margin-top: 1em
}

#contact .items a:hover {
	animation: shake 5s infinite ease-in-out;
	transform: scale(1.1);
}

#about h1 {
	margin-top: 1em;
	font-size: 2em;
}

/*
#about li {
	margin-top: 5em;
	font-size: 1.2em;
}
*/

#donate h1 {
	margin-top: 1em;
	font-size: 2em;
}

#donate .donate-img-box {
	margin-top: 1.5em
}

#donate .donate-img-box img {
	margin: .5em;
	width: 25em
}

#donate p {
	margin-top: 3em
}

/* 下面是左边栏 */
#bar .bar {
	background: rgba(0,0,0,.7);
    padding: 1em;
	flex-direction: column;
	border-radius: 5px 10px 40px 10px
}

#bar .avatar img {
	border-radius: 100%;
	border: 5px solid #fff
}

#bar .avatar/*设置鼠标悬浮在头像时的CSS样式*/{ 
    transition: transform 1s ease-out;/*变化时间设置为1秒(变化动作即为下面的图像旋转360度）*/
    -moz-transition: -moz-transform 1s ease-out;
	cursor: move;
}

#bar .avatar:hover{
    transform: rotateZ(360deg);/*图像旋转360度*/
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg); 
}

#bar .menu {
	margin-top: 2em;
	flex: 1
}

#bar .menu li {
	margin-top: 1em
}

#bar .menu li a {
	color: #fff;
}

#bar .menu li a.active {
	font-size: 1.3em
}

#bar .copyright {
	color: #fff;
	font-size: 9pt;
}

#bar .copyright a {
	color: #fff;
}

/*下面是弹出内容效果*/
/*下面是背景遮罩*/
#hidebg { position:absolute;left:0px;top:0px;
      background-color:#000;
      width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
      filter:alpha(opacity=60);  /*设置透明度为60%*/
      opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
      display:none; /* 正常情况下不显示 */
      z-Index:2;
	  }
/*下面是弹出栏*/
#hidebox {
	position:absolute;
	display:none;
	cursor:default;
	z-Index:3;
	}
/*下面是信件*/
#hidebox .letter {
	width: 80%;
	line-height: 30px;
	margin: 0 auto;
	padding: 15px 0 29px;
	background-color: #f4f39e;
	font-size: 84%;
	
	-moz-border-radius-bottomleft: 20px 500px;
	-moz-border-radius-bottomright: 500px 30px;
	-moz-border-radius-topright: 5px 100px;	
	
	-webkit-border-bottom-left-radius: 20px 500px;
	-webkit-border-bottom-right-radius: 500px 30px;
	-webkit-border-top-right-radius: 5px 100px;
	
	border-bottom-left-radius: 20px 500px;
	border-bottom-right-radius: 500px 30px;
	border-top-right-radius: 5px 100px;
	
	background: 
		-moz-repeating-linear-gradient(
			top,
			#fcf59b,
			#fcf59b 29px,
			#81cbbc 30px
		);
	
	background: 
		-webkit-gradient(
			linear,
			left top, left bottom,
			from(#81cbbc),
			color-stop(2%, #fcf59b)
		);
		
	background: 
		repeating-linear-gradient(
			top,
			#fcf59b,
			#fcf59b 29px,
			#81cbbc 30px
		);		
		
	-webkit-background-size: 100% 30px;

	-moz-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
	
	text-shadow: 0 1px 0 #F6EF97;
	position: relative;
}
#hidebox .letter:after {
	width: 100px;
	height: 30px;
	content: " ";
	margin-left: -50px;
	border: 1px solid rgba(200, 200, 200, .8);
	
	background: rgba(254, 254, 254, .6);
	-moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
	
	-moz-transform: rotate(-5deg); 
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
    transform: rotate(-5deg);
	
	position: absolute;
	left: 50%;
	top: -15px;
}
#hidebox .letter h2 {
	margin: 15px 0;
	text-align:center;
}
#hidebox .letter p {
	margin: 30px 0;
	padding: 0 2em;
}

#open {
	text-align:center;
	cursor:pointer;
	z-Index:1;
}


/* And something else */

.copyright-mobile {
	display: none;
	font-size: 12px
}

.copyright-mobile a {
	color: white
}




/* Hack for mobile */
@media(max-width:768px) {
    /* Main */
	.right {
		overflow: hidden
	}

	.left,.right {
		display: block;
		width: 100%;
		padding: 1em
	}

	#bar {
		border-radius: 10px 5px 0 0
	}

	#bar .menu {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 0
	}

	#bar .menu li {
		width: 50%;
		margin-top: .5em;
		display: inline-block
	}

	#bar .avatar {
		margin-top: -4em
	}

	#bar .avatar img {
		width: 75pt
	}

	main {
		width: 100%;
		max-width: 22em
	}

	main .content {
		display: block;
		margin: 5em 0 1em;
		width: 100%;
		height: 30em;
		overflow: visible
	}

	footer {
		margin-bottom: 1em
	}


	.copyright {
		display: none
	}

	.copyright-mobile {
		display: block
	}
    /* Sections */
	#index h1 {
		margin-top: 3em;
		font-size: 1.5em
	}
	
	#index p {
		margin-top: 1em;
		font-size: 1em
	}
	#home h1 {
		margin-top: .3em;
		font-size: 2em
	}

	#contact h1 {
		margin-top: .2em;
		font-size: 1.5em
	}
    #contact .items{margin-top:1em}
    #contact .items a{padding:.3em 0}
    #contact .items a i{font-size:2em;margin-top:.2em}
    #contact .items a span{margin-top:1em}

	#about h1 {
		margin-top: .2em;
		font-size: 1.5em
	}

	#about li {
		margin-top: 1em;
		font-size: 1em
	}

	#donate h1 {
		margin-top: .2em;
		font-size: 1.5em
	}

	#donate .donate-img-box {
		margin: 1.3em auto 1em;
		max-width: 17em;
		max-height: 13.5em
	}

	#donate .donate-img-box img {
		margin: .1em
	}
	
	#live2dcanvas{
		display: none;
	}
}

.my{ 
position:absolute;
width:50%;
height:120px;
border-radius:60px 10px 10px 60px;
background: rgba(0,0,0,.5);
}

.my-avatar{
position:absolute;
left:10px;
top:14px;
width:90px;
height:90px;
border-radius:50%; 
border:2px solid #ddd; 
}
.my-avatar img{
width:100%;
height:100%;
border-radius:50%;
}


/*spin旋转*/
.spin {
-webkit-animation:spin 5s infinite linear;
animation:spin 5s infinite linear
}
@keyframes spin {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg)
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg)
}
}
/*sparkle 闪耀*/
.sparkle {
-webkit-transition: all 1s;
-moz-transition: all 1s;
transition: all 1s;
-webkit-animation: sparkle linear 2s 1.5s infinite;
-moz-animation: sparkle linear 2s 1.5s infinite;
animation: sparkle linear 2s 1.5s infinite;
}
@-webkit-keyframes sparkle {
0% {
box-shadow: 0 0 0px 0 #b2ff1a;
-webkit-transform: rotate(0deg);
transform: rotate(0deg)
}
50% {box-shadow: 0 0 20px 0 #1affff;}
100% {
box-shadow: 0 0 0px 0 #b2ff1a;
-webkit-transform: rotate(359deg);
transform: rotate(359deg)
}
}
@-moz-keyframes sparkle {
0% {
box-shadow: 0 0 0px 0 #b2ff1a;
-webkit-transform: rotate(0deg);
transform: rotate(0deg)
}
50% {box-shadow: 0 0 20px 0 #1affff;}
100% {
box-shadow: 0 0 0px 0 #b2ff1a;
-webkit-transform: rotate(359deg);
transform: rotate(359deg)
}
}
@-o-keyframes sparkle {
0% {
box-shadow: 0 0 0px 0 #b2ff1a;
-webkit-transform: rotate(0deg);
transform: rotate(0deg)
}
50% {box-shadow: 0 0 20px 0 #1affff;}
100% {
box-shadow: 0 0 0px 0 #b2ff1a;
-webkit-transform: rotate(359deg);
transform: rotate(359deg)
}
}
@keyframes sparkle {
0% {
box-shadow: 0 0 0px 0 #b2ff1a;
-webkit-transform: rotate(0deg);
transform: rotate(0deg)
}
50% {box-shadow: 0 0 20px 0 #1affff;}
100% {
box-shadow: 0 0 0px 0 #b2ff1a;
-webkit-transform: rotate(359deg);
transform: rotate(359deg)
}
}


/*看板娘*/
#live2dcanvas {
    border: 0 !important;
}